.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
*.iml
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*

.DS_Store
.idea/
/src/main/resources/jeesite.properties
/src/main/resources/rebel.xml
